<div class="container-father">
    <div></div>

    <div class="container-dashboard">
        <br>
        <h1 style="text-align: center; color: white;">
            ANDRES BRAVO AGUILAR
        </h1>
        <br>
        <img class="img-perfil" src="/images/AndresBravo.jpg" alt="Mi imagenAndres" />

        <h1 class="description-information">
            Final semester student of Computer Systems Engineering
            (Bachelor's Degree) with over a year of
            experience in Full-Stack web application development. I
            have worked with Laravel and JavaScript, with
            proficiency in modern frameworks such as Angular, Node JS, React
            JS, and relational databases. I love developing
            software, learning new technologies, and tackling
            technical challenges. I am looking for a team where I
            can continue to improve my skills, add value, and grow
            professionally
        </h1>

        <app-tools></app-tools>

    </div>


</div>