<h1 class="main-title">TECHNOLOGIES I USE</h1>
<!-- LANGUAGES -->
<div class="targets-grid">
    <div>
        <h1 class="section-title">Languages</h1>
    </div>

    <div class="cards-container">
        @for (lang of languages; track lang.title) { <!-- El loop inicia aquí -->
        <app-card-tools [title]="lang.title" [img]="lang.img"></app-card-tools>
        } @empty { <!-- Opcional: Para cuando el array esté vacío -->
        <p>No hay lenguajes disponibles.</p>
        }
    </div>
</div>

<!-- FRONTEND -->
<div class="targets-grid">
    <div>
        <h1 class="section-title">Frontend</h1>
    </div>

    <div class="cards-container">
        @for (lang of frontend; track lang.title) { <!-- El loop inicia aquí -->
        <app-card-tools [title]="lang.title" [img]="lang.img"></app-card-tools>
        } @empty { <!-- Opcional: Para cuando el array esté vacío -->
        <p>No hay lenguajes disponibles.</p>
        }
    </div>
</div>

<!-- BACKEND -->
<div class="targets-grid">
    <div>
        <h1 class="section-title">Backend</h1>
    </div>

    <div class="cards-container">
        @for (lang of backend; track lang.title) { <!-- El loop inicia aquí -->
        <app-card-tools [title]="lang.title" [img]="lang.img"></app-card-tools>
        } @empty { <!-- Opcional: Para cuando el array esté vacío -->
        <p>No hay lenguajes disponibles.</p>
        }
    </div>
</div>

<!-- DATABASES -->
<div class="targets-grid">
    <div>
        <h1 class="section-title">Databases</h1>
    </div>

    <div class="cards-container">
        @for (lang of databases; track lang.title) { <!-- El loop inicia aquí -->
        <app-card-tools [title]="lang.title" [img]="lang.img"></app-card-tools>
        } @empty { <!-- Opcional: Para cuando el array esté vacío -->
        <p>No hay lenguajes disponibles.</p>
        }
    </div>
</div>

<!-- TOOLS -->
<div class="targets-grid">
    <div>
        <h1 class="section-title">Tools</h1>
    </div>

    <div class="cards-container">
        @for (lang of tools; track lang.title) { <!-- El loop inicia aquí -->
        <app-card-tools [title]="lang.title" [img]="lang.img"></app-card-tools>
        } @empty { <!-- Opcional: Para cuando el array esté vacío -->
        <p>No hay lenguajes disponibles.</p>
        }
    </div>
</div>